/* Image Gallery whole CSS */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#toggle-dark{
    color: #adb5bd;
    margin-right: 13px;
}

#login{
    color: #adb5bd;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}

#login:hover{
    color: white;
    transition: all .3s ease-in-out ;
}

.list-btn{
    margin-left: 13px;
}

.toggle{
    text-align: right;
    padding-right: 15px;
}

#toggle-dark:hover{
    color: white;
    transition: all .3s ease-in-out ;
}

#git{
    padding-left: 20px;
    padding-right: 20px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 13px;
}

.github-link:hover .tooltip {
    display: block;
}

#git:hover{
    color: white;
    transition: all .3s ease-in-out ;
}

.logo p {
    font-family: 'kaushan Script', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: #f8f9fa;
    padding-left: 80px;
    padding-bottom: 10px;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}

nav li {
    display: inline-block;
    padding: 12px 20px 20px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #adb5bd;
}

.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #712cf9;

}

nav .list {
    cursor: pointer;
}

nav .list:hover{
    color: #dee2e6;
    transition: all .3s ease-in-out;
}

nav {
    text-align: center;
    background-color: #712cf9;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product .itemBox.hide {
    display: none;
}

.product .itemBox {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
    display: block;
}

.product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 3px solid #dee2e6;;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.list-btn{
    display: none;
    cursor: pointer;
    color: white;
}

.gototop {
    position: fixed;
    bottom: 10px;
    left: 1460px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    background-color: #2196F3;
}

.gototop:hover {
    background-color: rgb(222, 124, 206);
}

.active {
    color: #fff;
    font-size: x-large;
}

.gototop {
    position: fixed;
    bottom: 50px;
    right: 100px;
    left: 50px;
    cursor: pointer;
}


.itemBox {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;

}

.itemBox[data-item]:not([data-item="all"]) {
    opacity: 0;
    pointer-events: none;
    display: none;
    animation: zoomInAnimation 0.5s ease both;
}

@keyframes zoomInAnimation {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Dropdown-menu CSS */

.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 80px;
    width: 300px;
    background-color: #712cf9;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
    display: none;
}

.dropdown-menu.open{
    height: 0px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image Gallery Responsive code */

@media (max-width: 1086px) {
    .center-list{
        display: none;
    }

    p{
       text-align: center;
    }

    .list-btn{
        display: block;
        position: relative;
        z-index: 3;
    }

}

@media (max-width: 1086px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
        display: block;
    }
}

